<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/controller.js"></script>
</head>
 
 
 
<h1 class="title_big"> BIG TIME RACE! </h1>
<table class="racer_table">
  <tr id="player1_strip" data-player-id-one="<% @player_one.id %>">
    <td class="active"><%=@player_one.name %>: </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip" data-player-id-two="<% @player_two.id %>">
    <td class="active"><%=@player_two.name %>:</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<!--  

<h1 class="winone"> <%=@player_one.name.upcase%> WINS... <%=@player_two.name.upcase%>... BITCH! </h5>
<h1 class="wintwo"> <%=@player_two.name.upcase%> WINS... <%=@player_one.name.upcase%>... BITCH! </h5>
 
<h1><a class="clickme" href ="http://localhost:9393/">DO IT AGAIN!!!</a></h1>
 -->
</div>
